<div class="content">
	<h2>Projekty</h2>

	<ul class="tools" id="projects">
		<%= render :partial => @projects %>
	</ul>
	
	<%= will_paginate @projects %>
</div>
<div class="sidebar">
	<% form_tag public_projects_path, :id => 'search_form' do %>
		<%= hidden_field_tag :sortowanie, params[:sortowanie] || 0 %>

		<%= text_field_tag :keyword, params[:search] %>
	<% end %>
	
	<h3>Sortowanie:</h3>
	<ul>
		<%= filter_for :sortowanie, 0, 0, 'Alfabetycznie' %>
		<%= filter_for :sortowanie, 1, 0, 'Ostatnio dodane' %>
	</ul>
</div>