<div class="register">
	<h2>Rejestracja</h2>

	<% form_for @uzytkownik do |f| %>
	  <p>
	    <%= f.label :login %>
			<%= error_for @uzytkownik, :login %>
			<br />
	    <%= f.text_field :login %>
	  </p>
	  <p>
	    <%= f.label :email %>
			<%= error_for @uzytkownik, :email %>
			<br />
	    <%= f.text_field :email %>
	  </p>
	  <p>
	    <%= f.label :password, 'Hasło' %>
			<%= error_for @uzytkownik, :password %>
			<br />
	    <%= f.password_field :password %>
	  </p>

	  <p>
	    <%= f.label :password_confirmation, 'Potwierdź hasło' %>
			<%= error_for @uzytkownik, :password_confirmation %>
			<br />
	    <%= f.password_field :password_confirmation %>
	  </p>

	  <div class="bottom">
	  	<%= f.submit "Stwórz konto" %>
	  </div>
	<% end %>

	
</div>